html,
body,
    {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

}

.body {
    font-family: 'Roboto'; 

}

h2,
h3,
h4,
h5,
h6 {
    font: 'Roboto';
    font-weight: normal;
}

#banner {
    height: 100%;
    width: 100%;
    margin: auto;
    display: table;
    top: 100px;
    background-size: cover;
}




/*Glitch*/
.content {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 22%;
    vertical-align: middle;
    background-color: #F4C4D5;
}



h1 {
    animation: glitch 3s steps(100) infinite;
    font-size: 50px;
    color: #d1c4f4;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

@keyframes glitch {
    0% {
        text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5;
        filter: blur(0);
    }
    1% {
        text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5;
        filter: blur(0);
    }
    2% {
        text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5;
        filter: blur(0);
    }
    3% {
        text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5;
        filter: blur(0);
    }
    4% {
        text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5;
        filter: blur(0);
    }
    5% {
        text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5;
        filter: blur(0);
    }
    6% {
        text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5;
        filter: blur(0);
    }
    7% {
        text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5;
        filter: blur(0);
    }
    8% {
        text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5;
        filter: blur(0);
    }
    9% {
        text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5;
        filter: blur(0);
    }
    10% {
        text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5;
        filter: blur(0);
    }
    11% {
        text-shadow: 1px 0 0 red, -1px 0 0 lime;
        filter: blur(0.5px);
    }
    12% {
        text-shadow: 1px 0 0 red, -1px 0 0 lime;
        filter: blur(0.5px);
    }
    13% {
        text-shadow: 1px 0 0 red, -1px 0 0 lime;
        filter: blur(0.5px);
    }
    14% {
        text-shadow: 1px 0 0 red, -1px 0 0 lime;
        filter: blur(0);
    }
    15% {
        text-shadow: 1px 0 0 red, -1px 0 0 lime;
        filter: blur(0);
    }
    16% {
        text-shadow: -3px 0 0 red, 3px 0 0 lime;
        filter: blur(0);
    }
    17% {
        text-shadow: -3px 0 0 red, 3px 0 0 lime;
        filter: blur(0);
    }
    18% {
        text-shadow: -3px 0 0 red, 3px 0 0 lime;
        filter: blur(0);
    }
    19% {
        text-shadow: -3px 0 0 red, 3px 0 0 lime;
        filter: blur(0);
    }
    20% {
        text-shadow: -3px 0 0 red, 3px 0 0 lime;
        filter: blur(0);
    }
    21% {
        text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime;
        filter: blur(0);
    }
    22% {
        text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime;
        filter: blur(0);
    }
    23% {
        text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime;
        filter: blur(0);
    }
    24% {
        text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime;
        filter: blur(0);
    }
    25% {
        text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime;
        filter: blur(0);
    }
    26% {
        text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime;
        filter: blur(0.5px);
    }
    27% {
        text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime;
        filter: blur(0.5px);
    }
    28% {
        text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime;
        filter: blur(0);
    }
    29% {
        text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime;
        filter: blur(0);
    }
    30% {
        text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime;
        filter: blur(0);
    }
    31% {
        text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime;
        filter: blur(0);
    }
    32% {
        text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime;
        filter: blur(0);
    }
    33% {
        text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime;
        filter: blur(0);
    }
    34% {
        text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime;
        filter: blur(0);
    }
    35% {
        text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime;
        filter: blur(0.5px);
    }
    36% {
        text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime;
        filter: blur(0.5px);
    }
    37% {
        text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime;
        filter: blur(0.5px);
    }
    38% {
        text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime;
        filter: blur(0);
    }
    39% {
        text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime;
        filter: blur(0);
    }
    40% {
        text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime;
        filter: blur(0);
    }
    41% {
        text-shadow: 45px 0 0 #0c33f5, -45px 0 0 lime;
        filter: blur(0);
    }
    42% {
        text-shadow: 0 0 0 #0c33f5, 0 0 0 lime;
        filter: blur(0);
    }
    43% {
        text-shadow: 1px 0 0 red, -1px 0 0 lime;
        filter: blur(0);
    }
    44% {
        text-shadow: 1px 0 0 red, -1px 0 0 lime;
        filter: blur(0);
    }
    45% {
        text-shadow: 1px 0 0 red, -1px 0 0 lime;
        filter: blur(0);
    }
    46% {
        text-shadow: 1px 0 0 red, -1px 0 0 lime;
        filter: blur(0.5px);
    }
    47% {
        text-shadow: -3px 0 0 red, 3px 0 0 lime;
        filter: blur(0.5px);
    }
    48% {
        text-shadow: -3px 0 0 red, 3px 0 0 lime;
        filter: blur(0);
    }
    49% {
        text-shadow: -3px 0 0 red, 3px 0 0 lime;
        filter: blur(0);
    }
    50% {
        text-shadow: -3px 0 0 red, 3px 0 0 lime;
        filter: blur(0);
    }
    51% {
        text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5;
        filter: blur(0);
    }
    52% {
        text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5;
        filter: blur(0);
    }
    53% {
        text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5;
        filter: blur(0);
    }
    54% {
        text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5;
        filter: blur(0);
    }
    55% {
        text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5;
        filter: blur(0.5px);
    }
    56% {
        text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5;
        filter: blur(0.5px);
    }
    57% {
        text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5;
        filter: blur(0.5px);
    }
    58% {
        text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5;
        filter: blur(0);
    }
    59% {
        text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5;
        filter: blur(0);
    }
    60% {
        text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5;
        filter: blur(0);
    }
    61% {
        text-shadow: 30px 0 0 red, -30px 0 0 lime;
        filter: blur(0);
    }
    62% {
        text-shadow: 0 0 0 red, 0 0 0 lime;
        filter: blur(0);
    }
    63% {
        text-shadow: 1px 0 0 red, -1px 0 0 #0c33f5;
        filter: blur(0);
    }
    64% {
        text-shadow: 1px 0 0 red, -1px 0 0 #0c33f5;
        filter: blur(0);
    }
    65% {
        text-shadow: 1px 0 0 red, -1px 0 0 #0c33f5;
        filter: blur(0);
    }
    66% {
        text-shadow: 1px 0 0 red, -1px 0 0 #0c33f5;
        filter: blur(0.5px);
    }
    67% {
        text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5;
        filter: blur(0.5px);
    }
    68% {
        text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5;
        filter: blur(0);
    }
    69% {
        text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5;
        filter: blur(0);
    }
    70% {
        text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5;
        filter: blur(0);
    }
    71% {
        text-shadow: 50px 0 0 red, -50px 0 0 #0c33f5;
        filter: blur(0);
    }
    72% {
        text-shadow: 0 0 0 red, 0 0 0 #0c33f5;
        filter: blur(0);
    }
    73% {
        text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5;
        filter: blur(0);
    }
    74% {
        text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5;
        filter: blur(0);
    }
    75% {
        text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5;
        filter: blur(0);
    }
    76% {
        text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5;
        filter: blur(0);
    }
    77% {
        text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5;
        filter: blur(0);
    }
    78% {
        text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5;
        filter: blur(0);
    }
    79% {
        text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5;
        filter: blur(0);
    }
    80% {
        text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5;
        filter: blur(0);
    }
    81% {
        text-shadow: 1px 0 0 red, -1px 0 0 lime;
        filter: blur(0);
    }
    82% {
        text-shadow: 1px 0 0 red, -1px 0 0 lime;
        filter: blur(0);
    }
    83% {
        text-shadow: 1px 0 0 red, -1px 0 0 lime;
        filter: blur(0.5px);
    }
    84% {
        text-shadow: 1px 0 0 red, -1px 0 0 lime;
        filter: blur(0.5px);
    }
    85% {
        text-shadow: 1px 0 0 red, -1px 0 0 lime;
        filter: blur(0.5px);
    }
    86% {
        text-shadow: -3px 0 0 red, 3px 0 0 lime;
        filter: blur(0.5px);
    }
    87% {
        text-shadow: -3px 0 0 red, 3px 0 0 lime;
        filter: blur(0.5px);
    }
    88% {
        text-shadow: -3px 0 0 red, 3px 0 0 lime;
        filter: blur(0);
    }
    89% {
        text-shadow: -3px 0 0 red, 3px 0 0 lime;
        filter: blur(0);
    }
    90% {
        text-shadow: -3px 0 0 red, 3px 0 0 lime;
        filter: blur(0);
    }
    91% {
        text-shadow: 60px 0 0 lime, -60px 0 0 #0c33f5;
        filter: blur(0);
    }
    92% {
        text-shadow: 0 0 0 lime, 0 0 0 #0c33f5;
        filter: blur(0);
    }
    92% {
        text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime;
        filter: blur(0);
    }
    93% {
        text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime;
        filter: blur(0);
    }
    94% {
        text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime;
        filter: blur(0);
    }
    95% {
        text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime;
        filter: blur(0);
    }
    96% {
        text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime;
        filter: blur(0);
    }
    97% {
        text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime;
        filter: blur(0);
    }
    98% {
        text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime;
        filter: blur(0);
    }
    99% {
        text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime;
        filter: blur(0);
    }
    100% {
        text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime;
        filter: blur(0);
    }
}

/*Glitch*/


.p {
    font-weight: lighter;
}


.navbar-toggler {
    margin-right: 0;
}

.navbar {
    background-color: transparent !important;
    height: 15%;
}


.navbar .navbar-brand {
    position: absolute;
    font-size: 25px;
    left: 0;
    top: 1%;
    width: 95%;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;

}

.navbar .navbar-nav {
    margin: 0 30px;
}


.navbar .nav-item a {
    color: black !important;
}

.nav-link:hover {
    background-color: rgba(165, 165, 165, 0.58);
}


.navbar-nav {
    background-color: transparent;
    font-size: 18px;
    color: black !important;
}

.navbar.compressed {
    padding-top: 30px;
    padding-bottom: 30px;
}


.contact {
    color: black;
    font-size: 22px;
    letter-spacing: 3px;
    padding-top: 16%;
    text-align: center;
    vertical-align: middle;
    margin-left: 20%;
}

.rotate {

    /* Safari */
    -webkit-transform: rotate(90deg);

    /* Firefox */
    -moz-transform: rotate(90deg);

    /* IE */
    -ms-transform: rotate(90deg);

    /* Opera */
    -o-transform: rotate(90deg);

    float: left;
}

/*mobile nav*/
.mobile-nav {
    color: black;
    font-weight: lighter;
}

.right-home {
    position: absolute;
    top: 79px;
    right: -20px;
    font-size: 20px;
    letter-spacing: 3px;
    transform: rotate(90deg);  
}

.right-about {
    position: absolute;
    top: 186px;
    right: -20px;
    font-size: 20px;
    letter-spacing: 3px;
    transform: rotate(90deg);    
}

.right-service {
    position: absolute;
    top: 308px;
    right: -30;
    font-size: 20px;
    letter-spacing: 3px;
    transform: rotate(90deg);
    
}

.right-contact {
    position: absolute;
    top: 440px;
    right: -30px;
    font-size: 20px;
    letter-spacing: 3px;
    transform: rotate(90deg);
    
}


/*mobile nav*/


.rotate-right {

    /* Safari */
    -webkit-transform: rotate(90deg);

    /* Firefox */
    -moz-transform: rotate(90deg);

    /* IE */
    -ms-transform: rotate(90deg);

    /* Opera */
    -o-transform: rotate(90deg);


}


#showcase {
    padding-top: 50px;

}

.showcase {
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease-out;
    background-color: white;
}

}

.showcase.fade-in {
    opacity: 1;
    transform: translateY(0);
}

#showcase img {
    width: 90%;
    margin-bottom: 35px;
    padding-top: 20px;
}

#showcase h2 {
    font-size: 50px;
    margin-bottom: 20px;
}

#showcase .showcase-right {
    margin-top: 10px;

}

.jumbotron {
    background-image: url()
}

/*jumbotron*/

#jumbotron {
    font-family: 'Roboto';
}

.jumbotron {
    background-image: url(/img/img048.jpg);
    opacity: .65;
}



#info1 img {
    width: 90%;
    padding-bottom: 20px;
}


#info1 info-right {
    margin-top: 90px;
}




/*instafeed*/

.ig {
    // padding: 4px;
    margin: 2px 0 20px 0;
    text-align: center;
    display: block;
}

img {
    width: 100%;
    max-width: 100%;
}

/*
#wrapper {
    width: 95%;
    max-width: 1400px;
    min-width: 400px;
    margin: 50px auto;
}
*/

#instafeed {
    column-count: 3;
    column-gap: 15px;
    column-fill: auto;
}

.post {
    display: inline-block;
    margin: 0 2px 15px;

    column-break-inside: avoid; //padding: .2rem;
    // padding-bottom: 5px;
    opacity: 1;

    transition: all .2s ease;
}


@media (max-width: 480px) {
    #instafeed {
        column-count: 1;
    }
}

@media (max-width: 780px) {
    #instafeed {
        column-count: 1;
    }
}

@media (min-width: 960px) {
    #instafeed {
        column-count: 3;
    }
}

@media (min-width: 1728px) {
    #instafeed {
        column-count: 3;
    }
}
#instafeed-btn {


}
